/* css selectors */
/* 1st element selector */


/* class selector 
in html page i have created a class name called title*/
.title {
    color: red;
}
.subtitle {
    color: blue;
}
/* it is id */
#contact-us {
    color: green;
}
/* class is going to override the header and id is going to override the class selector*?
/* override means when we create with same name selectors then it will do same operation for both */